/*****************
GENERAL
*****************/




body {
	font-family: 'Walter Turncoat', cursive;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background: #E6F2FA;
  list-style: none;
}


a {
	text-decoration: none;
}


img {
	max-width: 100%;
}

h1 {
	font-family: 'Rock Salt', cursive;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: bold;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}


h3 {
	margin: 0 0 1em 0;

}

/*****************
navigation
*****************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0; 
}


nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
 

}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}


/*****************
footer
*****************/


footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-left: 50px;
	color: #ccc;
}


.social-icon {
	width: 40px;
	height: 40px;
	margin: 0 5px;

}



/*****************
PAGE PORTFOLIO
*****************/

#gallery {
	margin: 0;
	padding: 100px;
	
}



#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
	list-style: none;
}



#gallery li a p {
	margin: 50;
	padding: 5%;
	font-size: 0.75em;
	color: black;
}



/*****************
PAGE ABOUT
*****************/


.profile-photo {
	display: block;
	max-width: 200px;
	margin: 0 auto 30px;
	border-radius: 20px;

}


/*****************
PAGE CONTACT
*****************/

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}



.contact-info li.phone a {
	background-image: url('../img/phone.jpeg');

}



.contact-info li.mail a {
	background-image: url('../img/gmail.png');

}

.contact-info li.linkden a {
  background-image: url('../img/linkden2.png');

}

.contact-info li.github a {
  background-image: url('../img/github.png');

}





a {
	color: black;
}



/*****************
heading
*****************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%; 
}




#logo{
	text-align: center;
	margin: 0;
}


/*green header*/
header {
	background: #0089DE;
	border-color: #599a68;
}

/*logo text*/
h1, h2 {
	color: white;
}

/*nav background on mobile*/
nav{
	background: #599a68;
}

/*nav links*/
nav a, nav a:visited {
	color: white;
}


/*selected nav linl*/
nav a.selected, nav a:hover {
	color: #035080;
}


/*site body*/
body {
	background: #E6F2FA;
	color: black;
}

